Binaries
DerivedDataCache
Content/AutomotiveMaterials/Textures/Alcantara/T_Alcantara_Cloth_N.uasset
Content/AutomotiveMaterials/Textures/Wheel/T_Dirt.uasset
Content/AutomotiveMaterials/Textures/Wheel/T_Dirt_N.uasset
Content/KiteDemo
Content/PhotoR_Backgrounds/Maps
Content/CustomPhysicVehicle/Vehicles/AstonMartin/Meshes/aston.uasset
Content/CustomPhysicVehicle/Vehicles/Nissan_Titan/Meshes/Nissan_Titan.uasset
Content/Maps
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace